.truck-info {
  width: 250px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}

.title {
  margin-bottom: 10px;
  font-weight: bold;
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.risk-score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.circle {
  position: relative;
  width: 80px;
  height: 80px;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 0.8rem;
  color: #6c757d;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button {
  flex: 1;
  font-size: 0.8rem;
}

.button.cancel {
  margin-right: 5px;
}


/* Will work on making this look better later */
.nav {
  padding-left: 10px;
}

.nav-item {
  font-family: 'Roboto';
  font-size: 1.2rem;
  padding: 6px;
}

.nav-link {
  padding: 15px;
  color: #1b1b1b;
}

.nav-pills .nav-link.active{
  padding: 15px;
  border-radius: 30px;
  color: black;
  font-weight: 600;
  background-color: #a7d7c5;
}

/* Just ignore it for now */

.collapsed .nav-item{
  display: flex;
  align-content: flex-start;
}

.collapse-button {
  position: fixed;
  left: 200px;
  padding: 0;
  background-color: transparent;
  border: transparent;
  color: black;
}

.collapsed-button {
  background-color: transparent;
  border: transparent;
  color: black;
}

.collapse-button:hover {
  background-color: transparent;
  color: black;
}

.collapsed-button:hover {
  background-color: transparent;
  color: black;
}
