@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Global style to prevent horizontal overflow */
body {
  overflow-x: hidden;
}

.truck-info {
  width: 250px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}

.title {
  margin-bottom: 10px;
  font-weight: bold;
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.risk-score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.circle {
  position: relative;
  width: 80px;
  height: 80px;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 0.8rem;
  color: #6c757d;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button {
  flex: 1;
  font-size: 0.8rem;
}

.button.cancel {
  margin-right: 5px;
}

.sub-menu {
  transition: height 0.3s ease; /* Smooth transition for height */
  overflow: hidden; /* Hide overflow when not expanded */
}

/* Add styles for the events log table container */
.events-log-table-container {
  max-height: 100%;
  overflow-y: auto;
}