@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container { 
    font-family: 'Manrope';
    display: grid;
    grid-template-columns: 0.4fr 1.6fr 1fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Aside Header Header"
      "Aside Main-Top Main-Top"
      "Aside Main-Bottom Main-Bottom";
}
  
.Aside { grid-area: Aside; }

.Header { 
    padding: 30px;
    grid-area: Header;
}

.Header .route {
    padding-bottom: 5px;
    color: #828282;
}

.Header h1 {
    font-weight: 700;
    font-size: 1.4rem;
}

.Main-Top { grid-area: Main-Top; }

.Main-Bottom { grid-area: Main-Bottom; }
