@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.nav {
    font-family: 'Open Sans';
    position: fixed;
    left: 0vw;
    top: 0vw;
    height: calc(100% - 1vw);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
    background-color: #f9f9f9;
    border-right: 1px solid #f0ecec;
}

.sidebar-header-text {
    font-weight: 800;
    vertical-align: top;
    padding-left: 3px;
}

.nav-item {
    padding: 30px 0px 10px 0px;
}

.nav-link {
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 1.2rem;
    padding: 15px;
    color: #1b1b1b;
}

.sidebar-label {
    padding-left: 10px;
}

.nav-pills .nav-link.active{
    position: relative;
    padding: 15px;
    border-radius: 30px;
    color: black;
    font-weight: 500;
    background-color: #a7d7c5;
    z-index: 11;
}

.collapse-button {
    background-color: transparent;
    border: transparent;
    color: black;
}

.collapse-button:hover {
    background-color: transparent;
    color: black;
}

.dropdown-toggle::after {
    display: none !important; 
}


#nav-dropdown:focus {
    background-color: transparent;
    color: #a7d7c5;

}